@font-face {
    font-family: 'Apple II';
    src: url('../fonts/font.ttf');
}

html,
body {
    color: #12ff1e;
    font-size: 1em;
    font-family: 'Apple II';
    background-image: radial-gradient(#030e00, black 120%);
    text-shadow: 0 0 5px rgba(0, 255, 47, 0.471);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(rgba(4, 60, 0, 0.03) 0.5vh, rgba(0, 0, 0, 0.05) 0.8vh);
    z-index: -1;
}


header {
    padding: 1em;
    font-size: 2em;
}

.grid {
    width: 98%;
    height: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template:
        [row1-start] "rname npcname pxp" auto [row1-end]
        [row2-start] "rimg npc stats" auto [row2-end]
        [row3-start] "output output thing" auto [row3-end]
        [row4-start] "input input thing" 2em [row4-end]/ auto auto auto;
}

#npcname {
    border: 2px solid #12ff1e !important;
    text-align: center;
    grid-area: npcname;
}

#rname {
    border: 2px solid #12ff1e !important;
    text-align: center;
    grid-area: rname;
}

#pxp {
    border: 2px solid #12ff1e !important;
    text-align: center;
    grid-area: pxp;
}

#npc {
    border: 2px solid #12ff1e !important;
    text-align: center;
    grid-area: npc;
}

#rimg {
    border: 2px solid #12ff1e !important;
    text-align: center;
    grid-area: rimg;
}

#pimg {
    text-align: center;
    grid-area: pimg;
}

#output {
    border: 2px solid #12ff1e !important;
    overflow: auto;
    grid-area: output;
    min-height: 20em;
}

#stats {
    border: 2px solid #12ff1e !important;
    grid-area: stats;
}


#thing {
    border: 2px solid #12ff1e !important;
    grid-area: thing;
}

#input {
    grid-area: input;
}

.input {
    border: 2px solid #12ff1e !important;
    color: #12ff1e;
    width: 100%;
    background: transparent;
    font-size: 2vh;
    font-family: "Apple II";
    position: relative;
    bottom: 0.175vh;
    height:fit-content;
}

@keyframes blink {
    0% {
        background: rgb(54, 255, 47);
    }

    49% {
        background: rgb(54, 255, 47);
    }

    60% {
        background: transparent;
    }

    99% {
        background: transparent;
    }

    100% {
        background: rgb(54, 255, 47);
    }
}